<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>생성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a th:text="${post.id}">게시글id</a></td>
                <td><a th:text="${post.categoryName}">게시글카테고리</a></td>
                <td><a th:text="${post.title}">게시글명</a></td>
                <td th:text="${post.createdDate}">생성일</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>